body * {
    font-family: "Roboto", sans-serif;
    font-size: 20px;

}

body {
    position: relative;
    background-color: #121212 !important;
}

.container {
    max-width: 1206px !important;
}


header #logo-container {
    padding: 0;
}

header #logo-container {
    width: 13%;
}

header #logo-text {
    font-family: "Inter", sans-serif;
}

header .cskh-logo {
    width: 75%;
    display: block;


    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}


#top-most>div>div {
    justify-content: center !important;
}

.mobile .logo-container {
    background-color: #1F2124;
}


.mobile .logo-container .img-container {
    height: 55px;
}



.mobile .logo-container img {
    padding: 5px;
    height: 100%;
    display: block;
    margin: auto;
}

.mobile nav {
    background-color: #25272B;
}

.mobile nav .container {
    height: 55px;
}

.mobile nav .container .row {
    height: 100%;
}

.mobile nav img {
    height: 25px;
    width: 100%;
    display: block;
}


.mobile nav .title {
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    font-weight: 600;
}

.mobile .banner .img-container {
    max-height: 150px;

    overflow: hidden;
    position: relative;
}




header #top-most .logo-text {
    color: white;
    font-size: 0.8rem;

}

#top-controller {
    margin-top: 0.5rem;
    padding: 0 8vw;
    text-align: center;
}


header #top-controller button.controller {
    width: 33.3vw;
    height: auto;
    padding: 1.1vw;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 1.5rem;
}

header #top-controller a {
    text-decoration: none;
    display: block;
}

header #top-controller div:first-child button.controller {
    background-color: #FEAD00;
    border: 1px solid #FFFF65;
    margin-right: 0.5rem;
    color: #000;

}

#head-nav-left {
    position: absolute;
    top: 109%;
    flex-direction: column;
}

#head-logo-container>a>img {
    height: 13vw;
}

button.controller {
    background-color: #383838;
    border: 1px solid #FFF;
    color: #c1c1c1;

    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    padding: 6px 0;
    font-size: 10px;
    border-radius: 1.5rem;
}

button.controller.active {
    background-color: #FEAD00;
    border: 1px solid #FFFF65;
    color: #000;
}

button.controller:hover {
    background-color: #7B7979;
    border: 1px solid #FFF;
    color: #c1c1c1;

}

button.controller.active:hover,
button.controller#login:hover {
    background-color: #FFDD65 !important;
    border-color: #FEAD00 !important;
    color: #000;

}




.img-container {
    width: 100%;
    height: auto;
}

.button {
    background-color: #FEAD00;
    border-radius: 15px;
    border: none;
    text-align: center;
    display: block;
    cursor: progress;
}

header nav a {
    text-decoration: none;
    color: white;
    display: block;
}

header nav a img {
    width: 25%;
}

header nav a span {
    font-size: 8px;
    text-wrap: nowrap;
    font-weight: 600;
}


header nav .row:first-of-type {
    background-color: inherit;
}

header nav {
    background-color: #1F2124;
}

header nav a {
    justify-content: center !important;
}

header nav a span {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-weight: 500;
}

header nav a img {
    width: 25px;
}

header .button {
    font-size: 13px;
    width: 125px;
}

main .header-1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

#banner img {
    background-size: 100%
}


main {
    color: white;
    margin-top: 16vw;
}

main>div.container>div {
    margin-top: 1.8rem;
}


#disappear-sm {
    display: block;
}

.display-none {
    display: none;
}

.mobile nav img.display-none {
    display: none;
}


nav .hover.hovered img:first-child {
    display: none;
}

.video-container {
    border-radius: 0.7rem;
    width: 100%;
    height: 51.3vw;
}

.video-container>* {
    width: 100%;
    border-radius: 0.7rem;
    border: 2px solid #FFD76F;
    height: 100%;
}

nav .hover.hovered span {
    color: #FC8F00
}

nav .hover.hovered img:last-child {
    display: inline;

}

.text-gradient-inline {
    background: -webkit-linear-gradient(#FFD76F 47%, #FA7D0B 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    display: inline-block;

}

#landing-page h1,
#landing-page h3 {
    background: -webkit-linear-gradient(#FFD76F 47%, #FA7D0B 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

#landing-page main a {
    text-decoration: none;
    font-weight: 500;
    color: #FFD76F;
}

#landing-page main article * {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 8px;
}

#landing-page main article h3 {
    font-size: 12px;
    font-weight: 800;
}

#landing-page main article h1 {
    text-align: center;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 800;
}

#landing-page ul {
    list-style-type: none;
}

#landing-page main #accordion {
    max-width: 918px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#landing-page #footer-logo img {
    margin: auto;
    display: block;
}



#landing-page footer h3 {
    color: #fff;
    text-align: center;
    margin: 1.2rem 0;

    font-size: 15px;
}

#landing-page #tham-gia-ngay a {
    display: block;
    width: 100%;
    height: 100%;
}

#landing-page #tham-gia-ngay {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#landing-page #tham-gia-ngay button {
    border-radius: 3rem;
    width: 49.5vw;
    height: 9.8vw;
    background: url(img/Tham\ Gia\ Ngay\ 4.webp);
    background-size: cover;
    transition: 0.05s;
}

#landing-page #tham-gia-ngay button:hover {
    background: url(img/hover/Tham\ Gia\ Ngay.webp);
    background-size: cover;
    width: 54vw;
    height: 11vw;
    /* transition: 0.15s; */
}

#landing-page main .controller .button:first-child {
    margin-right: 0.5rem;
}

#landing-page main .controller .button {
    width: 34.3vw;
    height: 6.8vw;
    background-color: #303338;
    border: 1px solid #7E889A;
    border-radius: 3rem;


    color: #FFF;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}

#landing-page main .controller .button:hover,
#landing-page main .controller .button.active {
    background-color: #FEAD00;
    border: 1px solid #FFFF65;
    color: #000;
}

#footer-logo .header-1 {
    font-weight: 600;
    font-size: 18px;
}

#footer-logo > a > img {
    height: 73px;
}

footer ul li a {
    font-weight: 400;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul > *{
    padding: 0;
    margin: 0;
}
footer ul li, footer ul li a {
    font-size: 15px;
}

#contacts {
    list-style-type: disc;
}

#contacts > *, #contacts a{
    font-size: 14px;
}

#contacts > * {
    color: #FFD76F;

}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {
    #footer-logo .header-1 {
        font-weight: 600;
        font-size: 23px;
    }
}

@media (min-width: 576px) {

    .video-container {
        height: 53vw;
    }




}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background: url(img/background.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }


    header #top-most .logo-text {
        color: white;
        font-size: 13.06px;
    }

    header .cskh-logo {
        width: 100%;
        height: 19px;
        display: block;
        margin-right: 4px;

    }

    #top-most>div>div {
        justify-content: space-between !important;
    }

    #head-nav-left {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between !important;
    }


    #head-nav-left>div {
        display: flex !important;
    }

    #head-logo-container>a>img {
        height: 100%;
    }


    main {
        margin-top: 0;
    }


    #top-controller {
        padding: 0;
    }


    header #top-controller button {
        max-width: 130px;
        max-height: 37px;
        padding: 6px;
    }




    #banner {
        max-height: 350px;
    }

    #head-logo-container {
        position: absolute;
        top: 38%;
    }

    nav {
        padding: 6px 0;
    }

    nav .row> :first-child {
        margin-left: 20%;
    }

    nav .row>* {
        padding-right: 2rem;
    }

    header.pc.display-none.display-md>nav>div>div {
        justify-content: flex-start !important;
    }

    header #top-controller button.controller {
        padding: 0.5vw;
    }

    .display-md {
        display: block;
    }

    .display-md-none {
        display: none;
    }

    #head-nav-left {
        align-items: center !important;
    }

    header nav a span {
        font-size: 14px;
    }

    .video-container {
        height: 54.5vw;
        max-height: 666px;
    }


    #footer-logo .header-1 {
        font-size: 31px;
        font-weight: 600;
    }

    #landing-page #tham-gia-ngay button {
        width: 416px;
        height: 83px;
    }

    #landing-page #tham-gia-ngay button:hover {
        width: 437px;
        height: 88px;
    }

    #landing-page main .controller .button {
        width: 281px;
        height: 56px;
        font-size: 25px;

        border-width: 3px;
    }

    #landing-page main .controller .button:first-child {
        margin-right: 2rem;
    }

    #landing-page main .controller .button:hover,
    #landing-page main .controller .button.active {
        border-width: 3px;
    }

    #landing-page main article h1 {
        font-size: 35px;
    }
    #landing-page main article * {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    #landing-page main article h3 {
        font-size: 30px;
    }

    #footer-logo > a > img {
        height: auto;
    }

    #landing-page footer h3 {
        font-size: 28px;
    }

    #contacts > *, #contacts a{
        font-size: 19px;
    }
    




}